<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Testing CI" parallel="tests" thread-count="1">
	<test name="End2End">
		<parameter name="browser" value="chrome" />
		<classes>
			<class name="com.qadiaries.scripts.Home" />
		</classes>
	</test>
	
</suite>